.confirm-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.confirm-modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
}

.confirm-btn {
  background-color: rgb(144, 237, 125);
  width: 80px;
}

.cancel-btn {
  background-color: rgb(242, 116, 94);
  width: 80px;
}
