/* 카드 hover */
.post-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
  border-radius: 30px !important;
}

.post-card:hover .post-thumbnail {
  transform: scale(1.05);
  /* transform: translateY(-6px); */
  /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); */
}

/* 썸네일 영역 */
.post-thumbnail-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9; /* 🔥 핵심 */
  overflow: hidden;
}

.post-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.post-card:hover .post-thumbnail {
  transform: scale(1.05);
}

/* 제목 hover */
.post-title {
  transition: color 0.2s ease;
}

.post-card:hover .post-title {
  color: #5cb85c; /* 메인 컬러 톤 */
}

/* 본문 줄 제한 */
.post-content {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.9rem;
}

.language-badge {
  font-size: 0.83rem;
  padding: 4px 10px;
  border-radius: 8px; /* 약간 둥근 사각형 */
  background-color: #e4f3ea; /* 연한 그레이 */
  color: #495057;
  white-space: nowrap;
  flex-shrink: 0; /* 제목 줄어들어도 유지 */
  border: 1px solid #7aebad;
}

/* hover UX (선택) */
.post-card:hover .language-badge {
  background-color: #d8eadd; /* 메인 컬러 톤 살짝 */
  border-color: #b9e3b7a5;
}
