.post-detail-wrapper {
  max-width: 720px;
}

.post-main-card {
  border: 1px solid #eee;
  border-radius: 30px !important;
}

.post-detail-content {
  font-size: 1.05rem;
  line-height: 1.7;
  white-space: pre-wrap;
  word-break: break-all; /* 긴 단어도 컨테이너 끝에서 강제로 줄바꿈 */
  overflow-wrap: break-word; /* 단어 단위로 줄바꿈을 시도하되, 안되면 쪼갬*/
}

.language-badge {
  font-size: 0.75rem;
  padding: 4px 10px;
  border-radius: 8px;
  background-color: #d3f8e2;
  color: #495057;
  white-space: nowrap;
  border: 1px solid #e9ecef;
}

/*
.post-page-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.post-detail-wrapper {
  width: 700px; /* 원하는 가로폭 */
/* max-width: 90%; 화면이 작으면 자동으로 줄어들도록 */
/* } */

/* .post-main-card {
  width: 100%;
}

.title {
  font-weight: 600;
} */
