spring:
  config:
    activate:
      on-profile: local

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:test
    driver-class-name: org.h2.Driver
    username: sa
    password:
    # initialization-mode: always  // 일반적으로 불필요

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate.default_batch_fetch_size: 100
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    open-in-view: false
