.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* 가로 가운데 */
  padding: 90px 20px; /* 높이는 padding으로만 조절 */
  box-sizing: border-box;
  text-align: center;
  background-color: #fffffffe;
}

.main-image,
.main-image-2,
.main-image-3 {
  width: 600px;
  height: 800px;
  image-rendering: crisp-edges;
  max-width: 600px;
  margin-bottom: 32px;
  display: block;
  border-radius: 10px;
}

.main-title {
  margin-top: 10px;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.main-subtitle {
  font-size: 2.3rem;
  color: #000000;

  margin-top: 30px;
}

.community-btn {
  text-align: center;
  margin-top: 40px;
  background-color: #ffffffd0;
  height: 60px;
  width: 170px;
  font-weight: 600;
  border-radius: 10px;
  color: rgb(13, 14, 13);
}
