.main-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 가로 가운데 */
  padding: 65px 20px 5px; /* 높이는 padding으로만 조절 */
  margin: 20px auto 0; /* 가운데 정렬 */
  word-break: keep-all;
  box-sizing: border-box;
  text-align: center;
  background-color: #fffffffe;
}

.main-container .main-subtitle p {
  margin: 0 0 23px 0;
}

.app-name {
  color: #67ae6a;
  font-weight: 700;
}

.main-image,
.main-image-2,
.main-image-3 {
  width: 600px;
  height: 550px;
  image-rendering: crisp-edges;
  max-width: 600px;
  margin-bottom: 32px;
  display: block;
  border-radius: 10px;
}

.main-title {
  margin-top: 1px;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.main-subtitle {
  font-size: 1.5rem;
  color: #000000;

  margin-top: 30px;
}

.main-subtitle-children p {
  font-size: 1.3rem;
  color: #000000;
}

.community-btn {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #e8f5e9;
  color: #2e7d32;
  height: 50px;
  width: 200px;
  font-weight: 700;
  border-radius: 12px;
  border: none;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease;
}

/* 텍스트 */
.btn-text {
  position: relative;
  z-index: 1;
  transition: opacity 0.3s ease;
}

/* 날아가는 로고 */
.fly-logo {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 2;
  transition: transform 0.7s ease;
}

/* hover */
.community-btn:hover .fly-logo {
  transform: translate(220px, -50%) rotate(-10deg);
}

/* 텍스트 가리기 효과 */
.community-btn:hover .btn-text {
  opacity: 0.2;
}
