.main-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 가로 가운데 */
  padding: 65px 20px; /* 높이는 padding으로만 조절 */
  margin: 30px auto 0; /* 가운데 정렬 */
  word-break: keep-all;
  box-sizing: border-box;
  text-align: center;
  background-color: #fffffffe;
}

.main-container .main-subtitle p {
  margin: 0 0 23px 0;
}

.main-image,
.main-image-2,
.main-image-3 {
  width: 600px;
  height: 550px;
  image-rendering: crisp-edges;
  max-width: 600px;
  margin-bottom: 32px;
  display: block;
  border-radius: 10px;
}

.main-title {
  margin-top: 1px;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.main-subtitle {
  font-size: 1.5rem;
  color: #000000;

  margin-top: 30px;
}

.main-subtitle-children p {
  font-size: 1.3rem;
  color: #000000;
}

.community-btn {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #ffffffd0;
  height: 50px;
  width: 170px;
  font-weight: 600;
  border-radius: 10px;
  border-color: rgb(58, 121, 58);
  color: rgb(67, 141, 67);
}
