.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* 가로 가운데 */
  padding: 90px 20px; /* 높이는 padding으로만 조절 */
  box-sizing: border-box;
  text-align: center;
}

.main-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 32px;
  display: block;
}

.main-title {
  margin-top: 50px;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 12px;
}

.main-subtitle {
  font-size: 1.1rem;
  color: #666;
}

.community-btn {
  text-align: center;
  margin-top: 40px;
  background-color: #b4eab9d0;
  height: 50px;
  width: 170px;
  font-weight: 600;
  border-radius: 8px;
}
